@font-face {
    font-family: generalFont;
    src: url(fonts/GoogleSans-Regular-v1.27.ttf);
  }
  @font-face {
    font-family: secondFont;
    src: url(fonts/Montserrat-Regular.ttf);
  }
body {
    background-image: url('pics/accueil.JPG');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  }


  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-left: 25%;
    margin-right: 25%;
  }
  
  li {
    float: left;
  }
  
  li a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.7vw;
  }
  
  /* Change the link color to #111 (black) on hover */
  .hover-underline-animation {
    display: inline-block;
    position: relative;
    color:beige;
    
  }
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color:beige;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
  
  .bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: beige;
    /* font-weight: bold; */
    border: 3px solid #f1f1f1;
    position: absolute;
    /* top: 50%; */
    left: 50%;
    transform: translate(-50%, -50%);
    /* z-index: 2; */
    width: 80%;
    padding: 20px;
    text-align: center;
    font-size: x-large;
    margin-top: 30vw;
    font-family: secondfont;
  }
  .bg-text p {
    text-align: justify;
    font-family: secondFont;
    font-size: 2vw;
  }
  .bg-text h1 {
    font-weight: bold;
    font-family: generalFont;
    font-size: 5vw;
  }
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  .bg-text a {
    color: white;
    text-decoration: none;
    size: 6vw;
    margin: 1vw;
  }
  .topnav {
    overflow: hidden;
    margin-bottom: 5vw;;
  }