@font-face {
    font-family: generalFont;
    src: url(fonts/GoogleSans-Regular-v1.27.ttf);
  }
  @font-face {
    font-family: secondFont;
    src: url(fonts/Montserrat-Regular.ttf);
  }
body {
  background-image: url('pics/accueil.JPG');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 10px;
  margin-top: 2.5vw;
}

.menu-btn {
  display: none;
  font-size: 20px;
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
}

.menu-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-list li a{
  margin: 0 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  color: beige;
}

@media (max-width: 768px) {
  .menu-list {
    display: none;
  }

  .menu-btn {
    display: block;
  }
}

  .hover-underline-animation {
    display: inline-block;
    position: relative;
    color:beige;
    
  }
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color:beige;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
  
  .bg-text {
    /* background-color: rgb(0,0,0); Fallback color */
    /* background-color: rgba(0,0,0, 0.4); Black w/opacity/see-through */
    color: beige;
    /* font-weight: bold; */
    /* border: 3px solid #f1f1f1; */
    position: absolute;
    /* top: 50%; */
    left: 50%;
    transform: translate(-50%, -50%);
    /* z-index: 2; */
    width: 80%;
    padding: 20px;
    text-align: center;
    font-size: 15vw;
    margin-top: 10vw;
    font-family: secondfont;
  }
  .bg-index {
    color: white;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    padding: 10px;
    text-align: center;
    font-size: x-large;
    margin-top: 10vw;
    font-family: secondfont;
  }
  .bg-index h1 {
    font-weight: bold;
    font-family: generalFont;
    font-size: 5vw;
  }
  .bg-index h3 {
    font-weight: bold;
    font-family: generalFont;
    font-size: 2.5vw;
  }
  .bg-text p {
    text-align: justify;
    font-family: secondFont;
    font-size: 2vw;
  }
  .bg-text h1 {
    font-weight: bold;
    font-family: generalFont;
    font-size: 5vw;
  }
  .bg-text h3 {
    font-weight: bold;
    font-family: generalFont;
    font-size: 2.5vw;
  }
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  .bg-text a {
    color: white;
    text-decoration: none;
    font-size: 2.7vw;
    margin: 1vw;
  }
  @media (min-width: 1200px) {
    body {
      font-size: 20px;
    }
  
    h1 {
      font-size: 2.5em;
      margin-bottom: 2rem;
    }
  
    p {
      font-size: 1.4em;
      margin-bottom: 2rem;
    }
  }
  @media (max-width: 768px) {
    nav {
      flex-direction: column;
      align-items: center;
    }
  
    ul {
      flex-direction: column;
      align-items: center;
    }
  
    li {
      margin: 10px 0;
    }
  
  
  body {
    font-size: 16px;
    line-height: 1.5;
  }
  
    h1 {
      font-size: 2em;
      margin-bottom: 1rem;
    }
  
    p {
      font-size: 1.2em;
      margin-bottom: 1.5rem;
    }
  }
  
  
  
  
  
  
  
  /* .fa-brands {
    font-size: 2.7vw;
  }
  .fa-solid {
    font-size: 2.7vw;
  } */